* { box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; }
body { font-family: sans-serif; overflow: auto;}

.flex-container-column {
    display: flex;
    flex-direction: column;

    /* Attribute Pendukung */
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
}
.flex-container-row {
    display: flex;
    flex-direction: row;
}
.button {
    flex-basis: 25%;

    /* Attribute Pendukung */
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 40px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.8));
    cursor: pointer;
}
.button:hover { background: -webkit-linear-gradient(top, #494949b7, rgba(83, 83, 83, 0.767)); font-weight: bold; }
.button:active { background: -webkit-linear-gradient(top, #141414e0, rgba(17, 17, 17, 0.849)); }

.double {
    flex-basis: 50%;
}

.display {
    color: white;
    width: 100%;
    padding: 10px 20px;
    background-color: #333333;
    font-size: 2em;
}

.function { background: rgba(0, 0, 0, 0.75); }
.function:hover { background: rgb(114, 114, 114); }
.function:active { background: orange; }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}

.history {
    width: 80%;
    margin: 30px auto 0 auto;
    overflow: scroll;
}

.clearHistory {
    float: right;
    margin: 1em;
    padding: 0.5em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 16px;
}

th {
    background-color: orange;
    color: white;
}

tr:nth-child(even) {
    background-color: #d2d2d2;
}

@media screen and (max-width: 513px) {
    .button {
        font-size: 1em;
        padding: 10px;
    }
    .history {
        width: 100%;
    }
}